* {
    border: none;
    /* border: 2px solid #434a4c; */
    border-radius: 0;
    /* border-radius: 8; */
    min-height: 0;
    font-family: CaskaydiaCove Nerd Font;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    background-color: transparent;
    /* background-color: #303536; */
    color: #c7ab7a;
}

window#waybar {
    background: rgba(29, 32, 33, 1);
    /* border: 2px solid rgba(48, 53, 54, 1.000000); */
    border-radius: 10;
}

#battery,
#network,
#clock,
#custom-mpd,
#pulseaudio {
    margin: 4px;
    padding: 4px 8px;
}

#backlight {
    margin: 4px;
    padding: 4px 8px;
}

#workspaces {
    margin: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 4px 8px;
}

#workspaces button.active {
    border-bottom: 2px solid #a9b665;
    color: #a9b665;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #1d2021;
    background-color: #ea6962;
    border: 2px solid #303536;
}
