@import "/home/shrey/.config/colors.css";

* {
    border: none;
    box-shadow: none;
    outline: none;
}

window {
    font-size: 16px;
    font-family: "monospace";
    background-color: @backgroundHex;
    border-radius: 8px;
    border: 0px solid @accentHex;
}

#outer-box {
    margin: 10px 10px 20px 10px;
    background-color: @backgroundHex;
}

#inner-box {
    margin: 10px;
    background-color: @backgroundHex;
}

#entry {
    padding: 5px 10px;
    border-radius: 10px;
}

#entry #text {
    padding: 0 0 0 10px;
    font-weight: normal;
    color: @foregroundHex;
}

#entry:selected {
    background-color: @accentHex;

}

#entry:selected #text {
    padding: 0 0 0 10px;
    font-weight: normal;
    color: @backgroundHex;
}

#input {
    background: transparent;
    margin: 0 5px 0 20px;
    color: @foregroundHex;
    padding: 5px;
}

#image {
    margin-left: 20px;
    margin-right: 20px;
}

#scroll {
    margin: 0;
}
