[Unit]
Description=Start Hyprland at user login
After=graphical-session.target

[Service]
ExecStart=/usr/bin/Hyprland
Restart=on-failure
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=default.target
