@define-color foregroundHex #FFFFFF;
@define-color backgroundHex #1D1D1D;
@define-color accentHex #FFFFFF;

* {
    border: none;
    border-radius: 0;
    min-height: 30px;
    font-family: 'monospace';
    font-size: 14px;
    padding: 0;
    background-color: transparent;
    color: @foregroundHex;
}

window#waybar {
    background: @backgroundHex;
    border-radius: 10px;
}

#custom-appmenuicon {
    color: @accentHex;
}

#custom-suspend {
    margin-right: 20px;
    margin-left: 20px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 4px 6px;
}

#workspaces button.active {
    border-bottom: 2px solid @foregroundHex;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#battery.urgent {
    color: @backgroundHex;
    background-color: #ea6962;
    border: 2px solid #303536;
}
